

html {
  font-size: 16px;
  box-sizing: border-box;

//adaptive design

  @include desktop {
    font-size: 16px;
  }

  @include laptop {
    font-size: 15px;
    
  }

  @include tablets {
    font-size: 14px;
  
  }
   @include phones {
    font-size: 13px;
  
  }
 
}

*, *:before, *:after {
    box-sizing: inherit; 
  }


 
body, html {
  width: 100%;
  height: 100%; 
}

body {
  font-family: $body-font;
  line-height: 1.42; 
  -webkit-font-smoothing: antialiased; 
  background: $white;


}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  position: relative;
  // min-width: $container-width + 20px; - для адаптива ненужно + если НЕТ адаптива, то убараем  meta(content="width=device-width, initial-scale=1" name="viewport")
}

// для прибития футера через псевдоэлемент
.wrapper:after {
  content: "";
  display: block;
  height: $footer-height;
  overflow: hidden; }

.maincontent {
  padding-bottom: 50px; }

// для прибития футера

footer {
  background: red;
  height: $footer-height;
  width: 100%;
  margin-top: -$footer-height;
  position: relative;
  min-width: $container-width + 20px; }

.container {
  width: $container-width;
  margin: 0 auto;
  max-width: 1000px; 

//adaptive design

  @include desktop {
    width: 992px;    
  }


  @include laptop {
    width: 768px; 
  }

  @include tablets {
    width: 460px;
    padding: 0px 20px;
   }

  @include phones {
    width: auto;
  }
}

// tag styles reset
ul {                
  padding: 0;
  margin: 0; 
}

li {
  list-style: none;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

// устойчивость верстки при изменении тегов сеошником
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  font-weight: normal;
}