@mixin box-shadow($params){
	-webkit-box-shadow : $params;
	-moz-box-shadow: $params;
	box-shadow: $params;
}

@mixin border-radius($radius){
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	border-radius: $radius;
}

@mixin transition($trans){
	-webkit-transition: $trans;
	-moz-transition: $trans;
	-o-transition: $trans;
	transition: $trans;
}

%clearfix {
	&:after {
		content: "";
		display: block;
		clear: both;
	}
}

@mixin inlineblock($valign:top){
	display: inline-block;
	vertical-align: $valign;
}

@mixin inlineblock($valign:middle){
	display: inline-block;
	vertical-align: $valign;
}

//responsive

@function rem($px) {
	@return $px / 16px + 0rem;
}

//fonts

@mixin fira($style: regular) {
    @if $style == regular {
        font-family: 'fira_sansregular';
    }

    @if $style == bold {
        font-family: 'fira_sansbold';
    }
    
    @if $style == medium {
        font-family: 'fira_sansmedium';
    }
    
    @if $style == light {
        font-family: 'fira_sanslight';
    }

}

// media request!

@mixin desktop {
	@media screen and (max-width: 1200px) {
		@content;
	}
}

@mixin laptop {
	@media screen and (max-width: 992px) {
		@content;
	}
}

@mixin tablets {
	@media screen and (max-width: 768px) {
		@content;
	}
}

@mixin phones {
	@media screen and (max-width: 480px) {
		@content;
	}
}

